<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <center>
        <form action="">
            <br>
            <label for="link">Link: </label>
            <input type="text" id="link" />
            <br>
            <br>
            <button id="btn">submit</button>
        </form>
    </center>
    <div id="qrCode"></div>

    <script src="index.js">

    </script>
</body>

</html>